
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Restaurant Sign-Up</h1>
                    <h5>Feel free to Login</h5>
                    <hr>
                </div>
                <div class="login-form">
                    <form [formGroup]="formValue" (ngSubmit)="signUp()">
                        <div class="mb-3">
                            <label for="exampleInputName" class="form-label">Name</label>
                            <input type="text" formControlName="name" class="form-control" id="exampleInputName">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputMobileNumber" class="form-label">Mobile Number</label>
                            <input type="text" formControlName="mobileNumber" class="form-control" id="exampleInputMobileNumber">
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign up</button>
                      </form>
                      <a routerLink="/login">Already Member? click to Login !</a>
                </div>

            </div>
        </div>
    </div>
</div>